# Composer dependencies
/vendor/

# Node.js dependencies
/node_modules/

# Build files
/build/
/dist/
assets/dist/

# WordPress
/wp-admin/
/wp-content/
/wp-includes/
/wp-*.php
/index.php
/license.txt
/readme.html
/xmlrpc.php

# Environment files
.env
.env.*
!.env.example

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db